$gabyfontscheme: sans-serif, Arial, Helvetica
$titlecolor: red
$secondcolor: lightblue
$emphasiscolor: red
$link-color: #000
$link-color-hover: #555

$column-bg-color: #eee
$column-border-color: #444

$backgroundcolor1: #f9f9f9
$backgroundcolor2: #bbb
$backgroundcolor3: #999

$preferedm: 15px
$preferedp: 10px
    
    
$subemphasiscolor: lighten($emphasiscolor, 15%)


@import partials/reset
@import partials/lists
@import partials/grid
@import partials/layout
   

